@import "variable";
html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color:$GrayishBlue;
    line-height: 1.3;
}
h1{
    font-weight: 700;
    font-family:'Manrope', sans-serif ;
    color: $VeryDarkGrayishBlue;
}

p{
    font-weight: 500;
}